.top-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70%;
  background-color: #ededed20;
  backdrop-filter: blur(15px);
  border-radius: 250px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

nav a {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-radius: 250px;
  transition: 0.3s;
  font-size: 20px;
}

.is_selected {
  background-color: #ededed40;
}

.side-logo,
.side-button {
  height: 80px;
  width: auto;
  cursor: pointer;
}

.side-logo:hover,
.side-button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
