section {
  margin-top: 0 !important;
  padding: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

nav {
  font-size: 25px;
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed20;
  border-radius: 250px;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border-radius: 250px;
  transition: 0.3s;
}

#nav_dashboard {
  background-color: #ededed60;
}
