<div class="camera-grid-container">
  <div class="camera-card" *ngFor="let cam of cameras">
    <div class="video-wrapper">
      <!-- Si le lien est présent on tente d'afficher, sinon placeholder -->
      <img [src]="getCameraUrl(cam)" (error)="handleImageError(cam, $event)" alt="Camera feed" />
      <div class="cam-overlay">
        <span class="cam-name">{{ cam.camera_name }}</span>
        <button class="screenshot-btn" (click)="takeScreenshot(cam)">
          <app-image-icon></app-image-icon>
        </button>
      </div>
    </div>
  </div>
</div>
