<!-- <div class="camera-grid">
  <div class="camera-wrapper">
    <img src="http://172.17.8.223:9081" alt="Caméra 1">
  </div>
  <div class="camera-wrapper">
    <img src="http://172.17.8.223:9082" alt="Caméra 2">
  </div>
</div> -->

<section>
  <div [class.big_cam]="cameras.length % 2 != 0">
    <div *ngFor="let c of cameras">
      <div class="cam_title"><p class="p_description">Nom de la cam</p></div>
      <img src="{{ c.lien }}" alt="" />
      <div class="cam_lat_bar"><app-pen-line-icon /><app-bell-icon /><app-expand-icon /></div>
    </div>
  </div>
  <div>
    <div *ngFor="let c of circle_number; let i = index">
      <app-circle-icon *ngIf="i != id_circle" /><app-circle-selected-icon *ngIf="i == id_circle" />
    </div>
  </div>
</section>
