section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

p {
  margin: 0 !important;
}

// mosaique
section > :first-child {
  width: 70vw;
  padding-left: 10vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4%;
}

// cam
section > :first-child > div {
  position: relative;
  height: 45vh;
  width: 48%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

section > :first-child > div img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

section > :first-child > div > :first-child {
  top: 8vw;
}

.cam_title {
  position: absolute;
  left: 1vw;
  height: fit-content;
  width: fit-content;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}

.cam_lat_bar {
  position: absolute;
  right: 1vw;
  width: 2vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big_cam > :first-child {
  width: 100% !important;
  max-height: 75vh !important;
  padding-top: 5vh !important;
}

.big_cam > :first-child > :first-child {
  top: 1vw !important;
}

// nav laterale
section > :last-child {
  position: fixed;
  width: 2vw;
  height: 65vh;
  right: 5vw;
  top: 15vh;
  padding-right: 4vw;
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.camera-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow: hidden;

  .camera-wrapper {
    flex: 1 1 0;
    min-width: 250px;
    height: 100%;
    max-height: 100%;
    min-height: 0;

    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: transparent;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-width: 250px;
      height: 100%;
      max-height: 100%;
      min-height: 0;
      object-fit: cover;
      display: block;
      border-radius: 25px;
    }
  }
}
