.bottom_navbar {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  border: 1px solid white;
}

.bottom_navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  background-color: #ededed20;
  border-radius: 250px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.bottom_navbar div:hover {
  background-color: #ededed60;
  transform: scale(1.05);
}

.bottom_navbar img {
  width: 40px;
  height: 40px;
}

#bottom_add_nav {
  width: 115px;
  height: 92px;
}

#bottom_add_nav img {
  width: 46px;
  height: 46px;
}

.bottom_navbar [data-variant='active'] {
  background-color: #ededed60;
  transform: scale(1.05);
}
[data-variant] {
  transition: background-color 0.2s ease, transform 0.2s ease;
}
