@font-face {
  font-family: Poppins;
  src: url(../public/Fonts/Poppins/Poppins-Light.ttf);
}

body {
  background-image: url(../public/background_img.png);
  background-size: cover;
  font-family: Poppins;
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ededed;
}

.navbar {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  border: 1px solid white;
}

.navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  background-color: #ededed20;
  border-radius: 250px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.navbar div:hover {
  background-color: #ededed60;
  transform: scale(1.05);
}

.navbar img {
  width: 40px;
  height: 40px;
}

#add_nav {
  width: 115px;
  height: 92px;
}

#add_nav img {
  width: 46px;
  height: 46px;
}
