@font-face {
  font-family: Poppins;
  src: url(/Fonts/Poppins/Poppins-Light.ttf);
}

body {
<<<<<<< HEAD
  background-image: url(/background_img.png);
=======
  background-image: url(/background_img.jpg);
>>>>>>> 6f551daaa533e82912d5b0587d49fb1191fcccdf
  background-size: cover;
  font-family: Poppins;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none;
  color: #ededed;
}

button {
  background-color: #ededed60;
  border: none;
  border-radius: 250px;
  font-family: Poppins;
  color: #ededed;
  font-size: 20px;
  width: auto;
  height: auto;
  padding: 15px 50px;
  margin-top: 5%;
  transition: 0.3s;
}
button:hover {
  background-color: #ededed90;
  cursor: pointer;
}
