.navbar {
  margin: 0 auto;
  width: 95%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  background-color: #ededed20;
  border-radius: 250px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.navbar a:hover div {
  background-color: #ededed60;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 15px rgba(237, 237, 237, 0.2);
}

.navbar img {
  width: 40px;
  height: 40px;
}

#add_nav {
  width: 115px;
  height: 92px;
}

#add_nav img {
  width: 46px;
  height: 46px;
}

#home_nav {
  background-color: #ededed60;
  transform: scale(1.05);
}
